*,
*:after,
*:before {
    box-sizing: border-canvas;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes drift {
    0% {
        transform: rotateX(15deg) rotateZ(15deg) rotateY(0) scale(1);
    }
    15% {
        transform: rotateX(35deg) rotateZ(30deg) rotateY(-50deg) scale(1.3);
        opacity: 1;
    }
    75% {
        transform: rotateX(-35deg) rotateZ(-30deg) rotateY(50deg) scale(0.7);
        opacity: 0.6;
    }
    100% {
        transform: rotateX(15deg) rotateZ(15deg) rotateY(0) scale(1);
    }
}

@keyframes pulse {
    15% {
        height: 70%;
        width: 60%;
        left: 30%;
        opacity: 0.5;
    }
    70% {
        height: 20%;
    }
}

@keyframes move {
    33.33% {
        transform: translateY(-32px) translateX(32px) translateZ(112px) rotateY(70deg) rotateX(10deg) rotateZ(-10deg);
    }
    100% {}
}

.scene {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 9;
}

.wrapper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: drift 100s infinite linear;
    z-index: 9;
}
.wrapper1 {
    width: 80%;
    height: 80%;
    transform-style: preserve-3d;
    animation: drift 80s infinite linear;
    z-index: 9;
}

.jellyfish {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    transform-style: preserve-3d;
    animation: move 12s infinite ease-in-out;
}

.jellyfish_ring {
    position: absolute;
    top: 60%;
    left: 300px;
    width: 100%;
    height: 50%;
    opacity: 0.9;
    border-width: 55px 5px 55px 0;
    border-color: rgba(255, 255, 179, 0.055) rgba(185, 179, 255, 0.25) transparent transparent;
    border-style: solid;
    border-radius: 50%;
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(1) {
    transform: rotateY(22.5deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(2) {
    transform: rotateY(45deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(3) {
    transform: rotateY(67.5deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(4) {
    transform: rotateY(90deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(5) {
    transform: rotateY(112.5deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(6) {
    transform: rotateY(135deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(7) {
    transform: rotateY(157.5deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(8) {
    transform: rotateY(180deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(9) {
    transform: rotateY(202.5deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(10) {
    transform: rotateY(225deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(11) {
    transform: rotateY(247.5deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(12) {
    transform: rotateY(270deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(13) {
    transform: rotateY(292.5deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(14) {
    transform: rotateY(315deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(15) {
    transform: rotateY(337.5deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.jellyfish_ring:nth-child(16) {
    transform: rotateY(360deg);
    animation: pulse 12s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

.seastar {
    position: absolute;
    top: 85%;
    left: 4%;
    opacity:0.6;
    z-index: 5;
    animation: fade1 8s ease-out infinite;
}

@keyframes fade1 {
    0% {
      top: 85%;
       opacity:0.6;
    }
    50% {
      top: 86%;
       opacity:0.4;
    }
    100% {
      top: 88%;
       opacity:0.1;
    }
  }

.jelly {
    position: absolute;
    top: 15%;
    right: 15%;
    z-index: 5;
    animation: fade 36s infinite;
    animation-timing-function: cubic-bezier(0.311,0.441,0.444,1.649);    
}
@keyframes fade {
    0% {            
       opacity:0.6;
    }
    50% {
        top:  86%;
        right: 3%;      
       opacity:0.4;
    }
    100% {    
            opacity:0.2;
    }
  }


.jelly3 {
    position: absolute;
    top: 84%;
    right: 8%;
    z-index: 5;
    animation: fade3 33s linear infinite;
    }
@keyframes fade3 {
    0% {            
       opacity:0.6;
    }
    50% {   right: 3%;      
       opacity:0.4;
    }
    100% {   top:  2%; 
        right: 1%; 
            opacity:0.2;
    }
  }
.jelly5 {
    position: absolute;
    top: 80%;
    right: 2%;
    z-index: 3;    
    animation: fade1 3s ease-out infinite;
}


.lobster {
    position: absolute;
    top: 80%;
    right: 25%;
    z-index: 5;
    animation: lobsterCraw 5s linear infinite;
}
@keyframes lobsterCraw {
    0% {
      top: 80%;
      right:25;  
      transform: scale(0.6);;      
    }
    50% {
      top: 83%; 
      right:29;
      transform: scale(0.8) rotateX(30deg);       
    }
    100% {
      top: 86%;
       right:33; 
        transform: scale(1.1) rotateX(45deg); 
    }
  }

.crab {
    position: absolute;
    top: 90%;
    right: 15%;
    z-index: 5;
    animation: animateCrab 15s linear infinite;
}

@keyframes animateCrab {
    0% {
        top: 95%;
        right: 21%;
         transform: scale(1.1);   }
    33% {
        top: 94%;
        right: 19%;
        transform: scale(0.95) rotateY(30deg);
    }
    50% {
        top: 93%;
        right: 18%;
        transform: scale(0.93) rotateY(33deg);
    }
    66% {
        top: 90%;
        right: 17%;
        transform: scale(0.92) rotateY(35deg);
    }
    100% {
        top: 89%;
        right: 17%;
        transform: scale(0.9) rotateY(36deg);
    }
}

.stone {
    position: absolute;
    top: 90%;
    right: 15%;
    z-index: 5;
}
.seaStar2 {
    position: absolute;
    top: 85%;
    right: 12%;
    opacity:0.6;
    z-index: 5;
    
}
.shark {
    position: absolute;
    top: 70%;
    left: 5%;
    z-index: 5;
    animation: animateShark 5s linear infinite;
}


@keyframes animateShark {
    0% {
        top: 60%;
        left: 3%;
    }
    25% {
        top: 64%;
        left: 25%;
    }
    50% {
        top: 68%;
        left: 52%;
    }
    75% {
        top: 72%;
        left: 75%;
    }
    100% {
        top: 75%;
        left: 100%;
    }
}

.shark2 {
    position: absolute;
    top: 25%;
    left: 95%;
    z-index: 0;
    animation: animateShark2 3s linear infinite;
}

.stingay {
    position: absolute;
    top: 75%;
    left: 5%;
    z-index: 2;
    animation: animatestingay 15s linear infinite;
}

@keyframes animatestingay {
    0% {
        top: 89%;
        left: 3%;
    }
    26% {
        top: 89%;
        left: 25%;
    }
    50% {
        top: 88%;
        left: 55%;
    }
    76% {
        top: 89%;
        left: 75%;
    }
    100% {
        top: 89%;
        left: 100%;
    }
}



@keyframes animateSeaAnimal {
    0% {
        top: 65%;
        left: 5%;
    }
    25% {
        top: 58%;
        left: 25%;
    }
    50% {
        top: 59%;
        left: 50%;
    }
    66% {
        top: 56%;
        left: 75%;
    }
    100% {
        top: 43%;
        left: 113%;
    }
}


@keyframes animateShark2 {
    0% {
        top: 25%;
        left: 99%;
    }
    25% {
        top: 23%;
        left: 75%;
    }
    50% {
        top: 15%;
        left: 55%;
    }
    75% {
        top: 10%;
        left: 25%;
    }
    100% {
        top: 3%;
        left: -23%;
    }
}

.facai {
    position: absolute;
    top: 55%;
    right: 6%;
    z-index: 5;
    animation: animateShark2 23s linear infinite;
}

.facai2 {
    position: absolute;
    top: 25%;
    left: 6%;
    z-index: 5;
    animation: animateSeaAnimal 20s linear infinite;
}

.seaAnimal {
    position: absolute;
    top: 65%;
    left: 85%;
    z-index: 5;
    animation: animateSeaAnimal 13s linear infinite;
}

@keyframes animateSeaAnimal {
    0% {
        top: 65%;
        left: 5%;
    }
    25% {
        top: 58%;
        left: 25%;
    }
    50% {
        top: 59%;
        left: 50%;
    }
    66% {
        top: 56%;
        left: 75%;
    }
    100% {
        top: 43%;
        left: 113%;
    }
}


.turtle {
    position: absolute;
    top: 85%;
    z-index: 5;
    animation: animateturtle 50s linear infinite;
}

@keyframes animateturtle {
    0% {
        bottom: 0;
        left: 15%;
    }
    25% {
        bottom: 0;
        left: 18%;
    }
    50% {
        botttom: 0;
        left: 21%;
    }
    66% {
        bottom: 0;
        left: 24%;
    }
    100% {
        bottom: 0;
        left: 27%;
    }
}

h1 {
    color: rgb(128, 202, 43);
    position: absolute;
    top: 48%;
    left: 9%;
}

h2 {
    color: rgb(60, 105, 7);
    position: absolute;
    top: 25%;
    right: 200px;
}

h3 {
    color: rgb(207, 14, 14);
    font-size: 3em;
    position: absolute;
    top: 55%;
    left: 60%;
}


.backgd {
    position: absolute;
    top: -5%;
    left: 0;
    z-index: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url("image/sea.jpg");
    background-size: cover;
  }
  
  .background .water {
    position: absolute;
    background-image: url("sea-map.png");
    background-size: cover;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    filter: url("#turbulence");
  }

  @media screen and (max-width: 992px) {
    body{
        width: 100vw;
        height: auto; 
           }
    
}

@media screen and (max-width: 350px){
    body{
        width: 100vw;
        height: auto; 
           }
}