.turtling3{
    position: absolute;
    top: 80%;
    right: 5%;
    z-index: 9;
    width: 50px;
    height: 60px;
    opacity: 0.9;    
    animation:  animateTurtling 30s linear infinite;    
}

@keyframes animateTurtling {
    0% {
        top: 80%;
        right: 5%;
        opacity: 0.9;
        transform: rotateX(0deg);
    }

    12%{        
        top: 80%;
        right: 16%;
        opacity: 0;
    }
    25% {
        top: 80%;
        right: 25%;
        opacity: 0.9;
       
    }
    37%{
        top: 80%;
        right: 37%;
        opacity: 0;
    }

    50% {
        top: 80%;
        right: 50%;        
        opacity: 0.9;
    }

    63%{        
        top: 80%;
        right: 63%;
        opacity: 0;
    }
    75% {
        top: 80%;
        right: 75%;
        opacity: 0.9;
       
    }
    87%{top: 80%;
        right: 87%;
        opacity: 0;
    }
    100% {
        top: 80%;
        right: 113%;
        opacity: 0.9;
       
    }
}
.turtling4 {
    position: absolute;
    top: 80%;
    right: 5%;
    z-index: 9;
    width: 50px;
    height: 60px;
    opacity: 0.9;    
    animation:  animateTurtling4 30s linear infinite;    
}
@keyframes animateTurtling4 {

    0%{
        top: 80%;
        right: 5%;
        opacity: 0;
    }
    13% {
        top: 80%;
        right: 16%;
        opacity: 0.9;
        transform: rotateX(0deg);
    }
    25%{top: 80%;
        right: 25%;
        opacity: 0;
    }
    
    37% {
        top: 80%;
        right: 37%;
        opacity: 0.9;
        transform: rotateX(20deg);
         transform: rotateY(45deg);
    }
   50%{      
    top: 80%;
        right: 50%;
        opacity: 0;
    }
    

    63% {
        top: 80%;
        right: 63%;
        transform: rotateX(60deg);
        transform: rotateY(30deg);
        opacity: 0.9;
    }

    75%{top: 80%;
        right: 75%;
        opacity: 0;
    }
    87% {
        top: 80%;
        right: 87%;
        opacity: 0.9;
        transform: rotateX(30deg);
        transform: rotateY(45deg);
    }
    100%{
        opacity: 0;
        top: 80%;
        right: 113%;
    }
    
}