.turtling3{
    position: absolute;
    top: 10%;
    right: 1%;
    z-index: 9;
    width: 3%;
    height: 5%;
    opacity: 0.9;    
    animation:  animateTurtling 25s linear infinite;    
}

.turtling33{
    position: absolute;
    top: 71%;
    right: 1%;
    z-index: 8;
    width: 4%;
    height: 5%;
    opacity: 0.9;    
    animation:  animateTurtling 20s linear infinite;    
}

@keyframes animateTurtling {
    0% {       
        right: 1%;
        opacity: 0.9;
        transform: rotateX(15deg);
        transform: rotateX(40deg);
    }

    12%{       
        right: 12%;
        opacity: 0;
        transform: rotateX(20deg);
        transform: rotateX(40deg);
    }
    25% {        
        right: 25%;
        opacity: 0.9;
        transform: rotateX(15deg);
        transform: rotateX(40deg);      
    }
    37%{
        right: 37%;
        opacity: 0;
        transform: rotateX(20deg);
        transform: rotateX(40deg);
    }

    50% {        
        right: 50%;        
        opacity: 0.9;
        transform: rotateX(15deg);
        transform: rotateX(40deg);
    }

    63%{  
        right: 63%;
        opacity: 0;
        transform: rotateX(20deg);
        transform: rotateX(40deg);
    }
    75% {
        right: 75%;
        opacity: 0.9;
        transform: rotateX(15deg);
        transform: rotateX(40deg);       
    }
    87%{
        right: 87%;
        opacity: 0;
        transform: rotateX(20deg);
        transform: rotateX(40deg);
    }
    100% {
        
        right: 102%;
        opacity: 0.9;
        transform: rotateX(15deg);
        transform: rotateX(40deg);       
    }
}
.turtling4 {
    position: absolute;
    top: 11%;
    right: 1%;
    z-index: 9;
    width: 3%;
    height: 5%;
    opacity: 0;    
    animation:  animateTurtling4 25s linear infinite;    
}
.turtling44 {
    position: absolute;
    top: 71%;
    right: 1%;
    z-index: 9;
    width: 4%;
    height: 5%;
    opacity: 0;    
    animation:  animateTurtling4 20s linear infinite;    
}
@keyframes animateTurtling4 {

    0%{        
        right: 1%;
        opacity: 0;
    }
    12% {        
        right: 12%;
        opacity: 0.9;
        transform: rotateX(20deg);
        transform: rotateX(40deg);
    }
    25%{
        right: 25%;
        opacity: 0;
    }
    
    37% {
        
        right: 37%;
        opacity: 0.9;
        transform: rotateX(20deg);
         transform: rotateX(40deg);
    }
   50%{   
        right: 50%;
        opacity: 0;
    }
    

    63% {        
        right: 63%;
        opacity: 0.9;
        transform: rotateX(40deg);
        transform: rotateY(30deg);
        
    }

    75%{
        right: 75%;
        opacity: 0;
    }
    87% {
        right: 87%;
        opacity: 0.9;
        transform: rotateX(20deg);
        transform: rotateX(40deg);
    }
    100%{
        opacity: 0;       
        right: 102%;
    }
    
}