#whales {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
} 
 
 .whale0 {
    position: absolute;
    top:-12%;
    right:-2%;
    z-index: 9;
    opacity: 0.1;      
    animation: animateWhale0 5s linear infinite;
} 
@keyframes animateWhale0 {
    0% {opacity: 0.06;    }
    43% {opacity: 0;    }    
    77% { opacity: 0.06; } 
    100% { opacity: 0.06;   }
}
.whale {
    position: absolute;
    top:-12%;
    right:-2%;
    z-index: 9; 
    opacity: 0;  
    animation: animateWhale 5s linear infinite;
}
@keyframes animateWhale {
    0% {opacity: 0;    }
    43% {opacity: 0.06;    }    
    77% { opacity: 0;    }
}
.whale1 {
    position: absolute;
    top:-12%;
    right:-2%;
    z-index: 9; 
    opacity: 0;  
    animation: animateWhale1 5s linear infinite;
}
@keyframes animateWhale1 {
    0% {opacity: 0;    }
    43% {opacity: 0;    }    
    77% { opacity: 0.08;    }
}
.whale3 {
    position: absolute;
    top:-12%;
    right:-2%;
    z-index: 9;
    opacity: 0.08;    
    animation: animateShark2 23s linear infinite;
 }