#whales {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
} 
 
 .whale0 {
    position: absolute;
    top:-12%;
    right:-2%;
    z-index: 9;
    opacity: 0.05;      
    animation: animateWhale0 5s linear infinite;
} 
@keyframes animateWhale0 {
    0% {opacity: 0.03;    }
    43% {opacity: 0;    }    
    77% { opacity: 0.03; } 
    100% { opacity: 0.03;   }
}
.whale {
    position: absolute;
    top:-12%;
    right:-2%;
    z-index: 9; 
    opacity: 0;  
    animation: animateWhale 5s linear infinite;
}
@keyframes animateWhale {
    0% {opacity: 0;    }
    43% {opacity: 0.03;    }    
    77% { opacity: 0;    }
}
.whale1 {
    position: absolute;
    top:-12%;
    right:-2%;
    z-index: 9; 
    opacity: 0;  
    animation: animateWhale1 5s linear infinite;
}
@keyframes animateWhale1 {
    0% {opacity: 0;    }
    43% {opacity: 0;    }    
    77% { opacity: 0.1;    }
}

.whale3 {
    position: absolute;
    right:-2%;
    z-index: 9;
    opacity: 0.05;    
    animation: animateWales 23s linear infinite;
 }
 
 @keyframes animateWales {
    0% {
        top: 15%;
        left: 99%;
      
    }
    25% {
        top: 13%;
        left: 75%;
        
    }
    50% {
        top: 12%;
        left: 55%;
        
    }
    75% {
        top: 10%;
        left: 25%;
       
    }
    100% {
        top: 5%;
        left: -23%;       
    }
}